@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

@font-face {
  font-family: Bebas Neue;
 
}
@layer base{
  :root{
    --primary: #271506;
  }
  ::-webkit-scrollbar {
    height: 0;
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
    

  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    width: 0;
    
    height: 0;
  }
  h1{
    @apply text-5xl text-[var(--primary)] uppercase font-extrabold
  }
  input{
    @apply border px-3 text-sm rounded-md py-2 md:py-4 md:text-base border-[var(--primary)]
  }
  button{
    @apply  text-white font-medium md:text-sm uppercase drop-shadow font-alfa text-xs active:scale-105 
  }
}